<div class="row row-app-about-store">

  <div class="col">


    <div class="row">

      <div class="col">

        <h4>About The Vegan Market</h4>

      </div>

    </div>

    <div class="row">

      <div class="col">

        <div>We are the first official vegan supermarket of Tel Aviv, providing fresh, high quality & organic produce and <b>cruelty-free</b> vegan products. </div>

      </div>

    </div>

   

    <div class="row">

      <div class="col">

        <div>Please sign up or log in to enjoy our market!</div>

      </div>

    </div>

    <div class="row">

      <div class="col">

        <img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Fruit_Stall_in_Barcelona_Market.jpg" />

      </div>

    </div>

  </div>

</div>